* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.total {
    display: flex;
    height: 100vh;
}

/* COL LEFT */

.colLeft {
    width: 5.5%;
    background-color: #1c1c1e;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}
.colLeft_logo {
    height: 45px;
    margin: 0;
}
.colLeft_logo img {
    height: 40px;
}
.colLeft_extension {
    display: flex;
    flex-direction: column;
    height: 290px;
    justify-content: space-between;
}
.colLeft_extension a{
    cursor: pointer;
}
.colLeft_extension a:hover svg{
    color: white;
    transition: all .5s;
}
.colLeft_extension svg {
    color: gray;
}
.colLeft_user {
    height: 45px;
    margin: 0;
}
.colLeft_user img {
    height: 40px;
    border-radius: 50%;
}

/* COL CENTER */

.colCenter {
    width: 74%;
    background-color: #1c1c1e;
    margin-left: 5.5%;
}
.colCenter .banner {
    position: relative;
}
.colCenter .banner .image {
    background-image: url(../image/watch/watch_max.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-bottom-left-radius: 1rem;
}
.colCenter .banner .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.626));
    background-color: rgba(0, 0, 0, 0.059);
}
.colCenter .banner .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.colCenter .banner .content .icon {
    margin-top: 20px;
    position: absolute;
    right: 30px;
    top: 0;
}
.colCenter .banner .content .icon span {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}
.colCenter .banner .content .icon span:hover{
    border: 3px solid #0d6dfa;
    transition: all .5s;
}
.colCenter .banner .content .icon span:hover svg{
    color: #0d6dfa!important;
    transition: all .5s;
}
.colCenter .banner .content .name {
    position: absolute;
    bottom: 98px;
    left: 290px;
    color: white;
    font-size: 43px;
    font-weight: 700;
}
.colCenter .banner .content .style {
    position: absolute;
    bottom: 35px;
    left: 290px;
}
.colCenter .banner .content .style span {
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid white;
    margin-right: 10px;
}
.colCenter .banner .content .style span:hover {
    color: rgba(255, 255, 255, 0.699);
    border: 1px solid rgba(255, 255, 255, 0.699);
    transition: all .5s;
}
.colCenter .banner .content .watch_button {
    position: absolute;
    bottom: 43px;
    right: 41px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 19px;
    padding: 13px 56px 13px 23px;
    border-radius: 50px;
    background-color: #5179FF;
    cursor: pointer;

}
.colCenter .banner .content .watch_button.watch_button:hover{
    background-color: #0D6EFD;
    transition: all .5s;
}
.colCenter .banner .content .watch_button svg {
    margin-right: 20px;
}
.colCenter .banner .content .min_image img {
    width: 186px;
    height: 279px;
    position: absolute;
    border-radius: 5px;
    bottom: -68px;
    left: 42px;
}

/* MOVIE DESCRIBE  */

.colCenter .movie_describe {
    display: flex;
}
.colCenter .movie_describe .above_rating {
    width: 13.5%;
    background-color: #1c1c1e;
    border-right: 1px solid #2c2c2e;
}
.colCenter .movie_describe .rating {
    display: flex;
    height: 474px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 77px;
    padding-top: 64px;
    height: 476px;
}
.colCenter .movie_describe .rating .rating_content {
    color: white;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.colCenter .movie_describe .rating .rating_content span {
    font-size: 19px;
    font-weight: 600;
}
.colCenter .movie_describe .rating .rating_content svg {
    width: 65px;
}
.colCenter .movie_describe .rating .rating_content .rating_number {
    position: absolute;
    bottom: 20px;
    left: 64px;
    font-size: 15px;
    font-weight: 500;
}
.colCenter .movie_describe .rating .runtime {
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.colCenter .movie_describe .rating .runtime span:first-of-type {
    font-size: 19px;
    font-weight: 600;
    color: white;
}
.colCenter .movie_describe .rating .runtime span:last-of-type {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;
    color: gray;
}
.colCenter .movie_describe .rating .runtime span:last-of-type span {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
}

/* SROTY  */

.colCenter .movie_describe .story {
    width: 58.5%;
    background-color: #1c1c1e;
    border-right: 1px solid #2c2c2e;
}
.colCenter .movie_describe .story .nav {
    justify-content: center;
    border: none;
    margin-top: 25px;
}
.colCenter .movie_describe .story .nav .nav-item {
    margin-right: 40px;
}
.colCenter .movie_describe .story .nav .nav-item .nav-link {
    color: rgb(139, 131, 131);
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding: 0 0 7px 0;
}
.colCenter .movie_describe .story .nav .nav-item .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0d6dfa;
    opacity: 0;
}
.colCenter .movie_describe .story .nav .nav-item .nav-link.active {
    color: white;
    font-weight: 600;
    transform: translate(0, -6px);
    transition: all 0.5s;
}
.colCenter .movie_describe .story .nav .nav-item .nav-link.active::after {
    display: block;
    opacity: 1;
    transition: all 0.5s;
}
.colCenter .movie_describe .story #myTabContent {
    padding: 2.8rem 4rem 1.75rem 4rem;
}
.colCenter .movie_describe .story #myTabContent .summary {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}
.colCenter .movie_describe .story #myTabContent .story_content .title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.colCenter .movie_describe .story #overall .story_content .content {
    color: rgb(139, 131, 131);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.colCenter .movie_describe .story #overall .detail .title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.colCenter .movie_describe .story #overall .detail .content {
    color: rgb(139, 131, 131);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.colCenter .movie_describe .story #overall .detail .content p {
    margin: 0 0 3px 0;
}
.colCenter .movie_describe .story #cast_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.colCenter .movie_describe .story #cast .cast-item {
    display: flex;
    flex-direction: row;
    width: 215px;
    height: 104px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.colCenter .movie_describe .story #cast .cast-item .name {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-left: 10px;
}
.colCenter .movie_describe .story #cast .cast-item .name .cast_name {
    color: #1a65d5;
    margin-bottom: 3px;
}
.colCenter .movie_describe .story #cast .cast-item .name .cast_alias {
    font-size: 16px;
    font-weight: 400;
}
.colCenter .movie_describe .story #cast .cast-item img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

/* MEDIA  */

.colCenter .movie_describe .media {
    width: 28%;
    background-color: #1c1c1e;
    padding: 1.5rem 0 1.5rem 1.5rem;
}
.colCenter .movie_describe .media .title {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.colCenter .movie_describe .media .trailer .title_of_video {
    color: rgb(126, 122, 122);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* COL RIGHT */

.colRight {
    width: 20.5%;
    box-sizing: border-box;
    background-color: #1c1c1e;
    border-right: 1px solid #2c2c2e;
    padding: 37px 24px 40px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
}
.search_bar form {
    background-color: #333335;
    padding: 12px;
    border-radius: 30px;
}
.search_bar .button_search {
    background-color: #333335;
    border: none;
    color: white;
}
.search_bar .button_search:hover svg {
    color: white !important;
    transition: all 0.5s;
}
.search_bar .input_search {
    background-color: #333335;
    border: none;
    color: white;
    padding: 0;
    width: 190px;
}
.search_bar .input_search:focus {
    outline: none;
    border: none;
}
.popular_content {
    margin-top: 25px;
    flex-wrap: wrap;
}
.popular_content span {
    padding: 0.4rem 0.9rem;
    background-color: #333335;
    margin: 5px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}
.popular_content span:hover {
    background-color: #282829;
    transition: all 0.5s;
}
.colRight .similar .similar_title {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.colRight .similar .similar_title span {
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.colRight .similar .similar_title svg {
    color: rgb(110, 106, 106);
}
.colRight .similar_content {
    margin-top: 20px;
}
.colRight .similar_content .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.colRight .similar_content .content .image {
    width: 37%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.colRight .similar_content .content .image .image_cover {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
}

/* Chỉnh hover vào item movie */

.colRight .similar_content .content:hover {
    cursor: pointer;
}
.colRight .similar_content .content:hover .image .image_cover {
    background-color: rgba(0, 0, 0, 0.183);
    transition: all 0.5s;
}
.colRight .similar_content .content:hover .text .title {
    color: rgb(187, 183, 183);
    transition: all 0.5s;
}
.colRight .similar_content .content:hover .text .date {
    color: #7b7878;
    transition: all 0.5s;
}
.colRight .similar_content .content:hover .text .star {
    color: #4062d2;
    transition: all 0.5s;
}

.colRight .similar_content .content .image img {
    height: 100%;
}
.colRight .similar_content .content .text {
    width: 58%;
}
.colRight .similar_content .content .text .title {
    margin: 0 0 12px 0;
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.colRight .similar_content .content .text .date {
    font-size: 16px;
    color: #a0a0a0;
    margin-bottom: 25px;
}
.colRight .similar_content .content .text .star {
    padding: 1px 6px;
    border-radius: 20px;
    border: 1px solid #5179ff;
    color: #5179ff;
}
.colRight .seeMore {
    width: 100%;
    padding: 6px 0;
    margin-top: 10px;
    border: none;
    background-color: #333335;
    color: rgb(145, 142, 142);
    font-size: 17px;
    cursor: pointer;
    border-radius: 20px;
}
.colRight .seeMore:hover {
    background-color: #282829;
    transition: all 0.5s;
}
